
/* http://www.benknowscode.com/2013/08/create-fly-over-notification-messages-bootstrap.html */
.flyover {
   left: 150%;
   overflow: hidden;
   position: fixed;
   width: 50%;
   opacity: 0.9;
   z-index: 1050;
   transition: left 0.6s ease-out 0s;
}
.flyover-centered {
   top: 50%;
   transform: translate(-50%, -50%);
}
.flyover.in {
   left: 50%;
}
.flyover-bottom {
   bottom: 10px;
}

.navbar-brand>img {
   max-height: 100%;
   height: 100%;
   width: auto;
   margin: 0 auto;
}

a.btn, a.btn:active, a.btn:focus {
   outline: none;
}

a.accordion_links, a.accordion_links:active, a.accordion_links:focus {
   outline: none;
   text-decoration: none;
}

.text-left {
  text-align: left !important;
}

/*.jumbotron{
    // add bootstrap jumbotron background image 
    background: url("/media/static.jpg");
    // change bootstrap jumbotron text color
    color: #FFF;
}*/

/* Gallery */
.grid-container {
    height: 400px;
    overflow: scroll;
}
/* clearfix */
.grid-container:before,
.grid-container:after {
    content: "";
    display: table;
}
.grid-container:after {
    clear: both;
}

.grid-item {
  float: left;
  margin-bottom: 25px;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
  box-shadow: 0px 3px 3px #888888;
}
.grid-item img {
  max-width: 100%;
  max-height: 100%;
}
.grid-item-des{
  background-color: white;
  box-shadow: 0px 3px 3px #888888;
}
.first-item {
  clear: both;
}
/* remove margin bottom on last row */
.last-row, .last-row ~ .grid-item {
  margin-bottom: 0;
}

/* LOG */
.log-container{
  height: 400px;
  overflow: scroll;
}