{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Valvonta järjestelmä</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Awesome Font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "camera/css/camera_style.css" %}">
    <link rel="apple-touch-icon" href="{% static 'icos/apple-touch-icon.png' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img alt="Brand" src="{% static 'icos/favicon-32x32.png' %}"></img>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li id="link_live" class='{{ activate_live|default:""}}'><a href="/live">Live Feed</a></li>
                    <li id="link_gallery" class='{{ activate_gallery|default:""}}'><a href="/gallery">Gallery</a></li>
                    {% if user.is_superuser or user.is_staff %}
                    <li id="link_settings" class='{{ activate_settings|default:""}}'><a href="/settings">Settings</a></li>
                    {% endif %}
                </ul>
                <form id="auth_form" action="" class="navbar-form navbar-right" >{% csrf_token %}
                    <button type="submit" value="logout" class="btn btn-default" title="Logout"><i class="fa fa-sign-out fa-lg"></i></button>
                    {% else %}
                <form id="auth_form" action="" class="navbar-form navbar-right" >{% csrf_token %}
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button type="submit" value="login" class="btn btn-primary" title="Login"><i class="fa fa-sign-in fa-lg"></i></button>
                    {% endif %}
                </form>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </nav>
    <div id="alert_ctn" class="alert flyover flyover-bottom">
        <h4 id="alert_title"></h4>
        <p id="alert_message"></p>
    </div>

    {% if not user.is_authenticated %}
    <!-- Jumbotron -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to SuSy</h1>
        <p class="lead">Please login to proceed.</p>
      </div>
    </div>
    {% else %}
        {% block content %}{% endblock %}
    {% endif %} 
        <!-- jQuery 1.11.3 -->
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Authentication js -->
    <script src="{% static "camera/js/camera_base.js" %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>