{% extends "camera/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <center>
    <table class="table" style="width: auto;">
      <tr>
        <th>
          <img id="live_image" src="/live/image" alt="OMG cat" class="img-responsive img-thumbnail center-block"></img></th>
        </tr>
        <tr>
          <td>
            <center>
              <div>
                <div class="col-sm-2 col-xs-2">
                  <a id="flash_check" href="#flash" class="btn pull-left"><i class="fa fa-circle-o fa-fw"></i> Flash</a>
                </div>
                <div class="col-sm-offset-2 col-xs-offset-1 col-md-4 col-xs-5">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <a href="#left" id="rotate_left" class="btn btn-default"><span style="color:blue" title="Turn camera left"><i class="fa fa-chevron-left fa-fw"></i></span></a>
                    </span>
                    <input type="text" id="camera_angle" class="form-control" disabled placeholder="Current view angle" value="{{camera_angle}}" style="text-align:center;">
                    <span class="input-group-btn">
                      <a href='#right' id="rotate_right" class="btn btn-default" title="Turn camera right"><i style="color:blue" class="fa fa-chevron-right fa-fw"></i></a>
                    </span>
                  </div><!-- /input-group -->
                </div>
                <div class="col-sm-3 col-xs-3 pull-right">
                  <a id="auto_refresh" href="#autorefresh" class="btn pull-right">Auto-refresh <i class="fa fa-circle-o fa-fw"></i></a>
                </div>
              </div>
            </div>
          </center>
        </td>
      </tr>
    </table>
  </center>
  <p class="help-block">HINT: use arrow key to turn the camera</p>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static "camera/js/camera_usage.js" %}"></script>
{% endblock %}