{% extends "camera/base.html" %}
{% load staticfiles %}
{% block head %}
<link href="{% static "camera/css/bootstrap-datetimepicker.min.css" %}"rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form id="log_filter">
        <div class="form-group has-feedback col-xs-6 col-sm-12">
          <label class="control-label" for="start_time">Range start</label>
          <div class='input-group'>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
            <input type='text' class='form-control' id="start_time" name="start_time" placeholder="Start time"/>
          </div>
        </div>
        <div class="form-group has-feedback col-xs-6 col-sm-12">
          <label class="control-label" for="start_time">Range end</label>
          <div class='input-group'>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
            <input type='text' class='form-control' id="end_time" name="end_time" placeholder="End time"/>
          </div>
        </div>
        <div class="col-sm-12">
          <p class="help-block">Accepted format: YYYY-MM-DD hh:mm</p>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <button type="submit" id="log_filter_btn" class="btn btn-primary btn-block">Filter</button>
          </div>
          <hr class="visible-xs-block">
        </div>
      </form>
    </div>
    <div class="col-sm-8">
      <div class="col-sm-12 hidden" id="results">
      </div>
      <div class="grid-container col-sm-12" id="log_results">
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static "camera/js/jquery.row-grid.min.js" %}"></script>
<script src="{% static "camera/js/moment-with-locales.min.js" %}"></script>
<script src="{% static "camera/js/bootstrap-datetimepicker.min.js" %}"></script>
<script src="{% static "camera/js/log_usage.js" %}"></script>
{% endblock %}