{% extends "camera/base.html" %}
{% load staticfiles %}
{% block head %}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/jquery.roundslider/1.0/roundslider.min.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="container">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <!-- CAPTURE_SETTINGS FORM -->
    <div class="panel panel-primary">
      <div class="panel-heading" role="tab" id="headingCapture">
        <a class="accordion_links"role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_capture" aria-expanded="true" aria-controls="collapse_capture">
          <h4 class="panel-title"><span style="color: white">Capture settings</span></h4>
        </a>
      </div>
      <div id="collapse_capture" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_capture">
        <div class="panel-body">
          <form class="form-horizontal" role="form" id="capture_form">
            <div class="form-group">
              <label class="control-label col-sm-3" for="capture_dim">Capture quality</label>
              <div class="col-sm-3">
                <select class="form-control" id="capture_dim" name="capture_dim">
                  {% for item in capture_dimensions %}
                  <option value="{{item.0}}">{{item.1}} ({{item.0}})</option>
                  {% endfor %}
                </select>
              </div>
              <label class="control-label col-sm-2" for="live_dim">Live view quality</label>
              <div class="col-sm-3">
                <select class="form-control" id="live_dim" name="live_dim">
                  {% for item in live_dimensions %}
                  <option value="{{item.0}}">{{item.1}} ({{item.0}})</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="camera_flash_mode">Flash mode</label>
              <div class="col-sm-5">
                <select class="form-control" id="camera_flash_mode" name="camera_flash_mode">
                  {% for item in flash_modes %}
                  <option value="{{item.0}}">{{item.1}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="camera_flash_mode">Camera angle</label>
              <div class="col-sm-3">
                <div class="input-group">
                  <input type="number" id="camera_angle" value="{{camera_angle}}" class="form-control" disabled></input>
                  <span class="input-group-addon">&#176;</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" id="capture_save" class="btn btn-primary pull-right">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- SENSOR_SETTINGS FORM -->
    <div class="panel panel-danger">
      <div class="panel-heading" role="tab" id="heading_sensor">
        <a class="collapsed accordion_links" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_sensor" aria-expanded="false" aria-controls="collapse_sensor">
          <h4 class="panel-title">Sensor settings</h4>
        </a>
      </div>
      <div id="collapse_sensor" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_sensor">
        <div class="panel-body">

          <form class="form-horizontal" role="form" id="sensor_form">
            <div class="form-group">
              <label class="control-label col-sm-3" for="sun_tracker">Sun tracker</label>
              <div class="col-sm-4">
                <input type="checkbox" {% if sensors.sun_tracker %}checked{% endif %} name="sun_tracker" data-toggle="toggle" id="sun_tracker" data-on="Enabled" data-off="Disabled" data-onstyle="success" data-width="100"></input>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="motion_sensor">Motion sensor</label>
            <div class="col-sm-4">
              <input type="checkbox" {% if sensors.motion_sensor %}checked{% endif %} name="motion_sensor" data-toggle="toggle" id="motion_sensor" data-on="Enabled" data-off="Disabled" data-onstyle="success" data-width="100"></input>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" id="sensor_save" class="btn btn-warning pull-right">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- LOCATION_SETTINGS FORM -->
<div class="panel panel-info">
  <div class="panel-heading" role="tab" id="heading_location">
    <a class="collapsed accordion_links" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_location" aria-expanded="false" aria-controls="collapse_location">
      <h4 class="panel-title">Location settings</h4>
    </a>
  </div>
  <div id="collapse_location" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_location">
    <div class="panel-body">
      <form class="form-horizontal" role="form" id="location_form">
        <div class="form-group">
          <label class="control-label col-sm-3" for="city">City</label>
          <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-building fa-fw"></i></span>
              <input type="text" id="city" name="city" value="{{ location_settings.city }}" class="form-control" placeholder="Enter a city"></input>
            </div>
          </div>
          <label class="control-label col-sm-2" for="region">Country</label>
          <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-globe fa-fw"></i></span>
              <input type="text" id="region" name="region" value="{{ location_settings.region }}" class="form-control" placeholder="Enter a country"></input>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="timezone">Timezone</label>
          <div class="col-sm-4">
            <select class="form-control" id="flash_mode" name="timezone">
              {% for zone in timezones %}
              <option value="{{zone}}" {% if zone == location_settings.timezone %}selected{% endif %}>{{zone}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="latitude">Latitude</label>
          <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-location-arrow fa-fw"></i></span>
              <input type="number" id="latitude" name="latitude" value="{{ location_settings.latitude}}" class="form-control" step="0.0001" placeholder="23.7649"></input>
            </div>
          </div>
          <label class="control-label col-sm-2" for="longitude">Longitude</label>
          <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-location-arrow fa-fw"></i></span>
              <input type="number" id="longitude" name="longitude" value="{{ location_settings.longitude }}" class="form-control" step="0.0001" placeholder="Example 61.4980"></input>
            </div>
          </div>
        </div>
        <!-- <div class="form-group">
          <label class="control-label col-sm-3" for="today_sunrise">Today sunrise</label>
          <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-sun-o fa-fw"></i></span>
              <input type="text" id="today_sunrise" name="today_sunrise" value="{{ location_settings.today_sunrise}}" class="form-control"></input>
            </div>
            <span class="help-block">YYYY-MM-DD HH:mm:SS.</span>
          </div>
          <label class="control-label col-sm-2" for="today_sunset">Today sunset</label>
          <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-moon-o fa-fw"></i></span>
              <input type="text" id="today_sunset" name="today_sunset" value="{{ location_settings.today_sunset }}" class="form-control"></input>
            </div>
            <span class="help-block">YYYY-MM-DD HH:mm:SS.</span>
          </div>
        </div> -->
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button id="location_auto" class="btn btn-default">Auto complete</button>
            <button type="submit" id="location_save" class="btn btn-primary pull-right">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.roundslider/1.0/roundslider.min.js"></script>
<script src="{% static "camera/js/settings_usage.js" %}"></script>
{% endblock %}